* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(27, 33, 30);
  font-family: 'Roboto', sans-serif;
}

.contenedor-turno {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px auto 20px auto;
  gap: 1em;
  padding: 20px ;
  border: 40px solid rgb(8, 7, 7);
  border-radius: 20px;
  background-color: rgb(22, 0, 0);
  width: fit-content;
}

h1 {
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
  font-size: 15rem;
  color: rgb(164, 0, 0);
}

p {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 4PX;
  color: aliceblue;
  background-color: black;
  border-radius: 10px;
  padding: 4px 30px;
}

.contenedor-botones {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 20px;
}

button {
  font-family: 'Roboto', sans-serif;;
  font-size: 1.5em;
  color: aliceblue;
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(17, 15, 15);
}

button:hover {
  transform: scale(1.1);
  background-color: aliceblue;
  color: black;
  border: 1px solid black;
}

.contenedor-input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap:10px;
}

label {
  color: aliceblue;
  font-size: 1.2rem;
}

input {
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

@media (max-width: 530px) {
  .contenedor-botones {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: fit-content;
    gap: 5px
  } .contenedor-input {
    margin-top: 10px;
  }.contenedor-turno {
    width: max-content;
    margin-top: 10px;
  }
}
